@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');


/* CSS Variables */
:root {
    /* main UI color */
    --color1: rgb(177, 247, 171);
    /* audio controls background */
    --plyr-audio-controls-background: black;
    /* audio controls color */
    --plyr-audio-control-color: white;
    /* font family for player */
    font-family: 'Fredericka the Great';
    /* font size of player  */
    --plyr-font-size-time: 16px;

    /* Other optional customiziations */
    --plyr-audio-control-color-hover:  black;
    --plyr-audio-progress-buffered-background:  black;
    --plyr-audio-range-track-background: white;
    --plyr-tooltip-background: white;
    --plyr-tooltip-color: black; 
    --plyr-control-icon-size: 16px;
}



  



h1 {
    font-family: "Fredericka the Great", serif;
    
    text-align: center;
    color: var(--plyr-audio-controls-background);
    
  }
  
p {
    font-family: "Aguafina Script", cursive;
    font-weight: 400;
    font-style: normal;
  }





body {
    background: rgb(117, 247, 171);
}

/* Layout */
main {
    /* Fixed width center align */
    max-width: 65em;
    margin-inline: auto;

    background: rgb(255, 250, 239);
  
}







main img {
    /* Fit image to container */
    max-width: 100%;
    display: block;
    margin: auto;
    
}

/* Primary Content */
article {
    /* flow content horizontally */
    display: flex;
    gap: 1em;
    justify-content: center;
    padding: 30px;
   
    
}

article section {
    /* keep flex'd child same width */
    flex: 1;
    
    
}

/* Footer */
footer {
    text-align: center;
}

/* Media Queries */
@media (max-width: 40em) {
    main article {
        flex-direction: column;
    }
}

h1{
    margin-left: 3px;
}

h2{padding: 50px;}





* {
    outline: 0.1px solid rgb(231, 231, 231);
  }
  
  article {
    background: rgb(218, 218, 218);
  
   

  }
  
  article section {
    background: ivory;
    /* equal width flex'd children */
    flex: 1;
  }
  





section style="margin-left: 40px;">




</section>

